<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" style="padding-left: 10%;padding-top:2%">
  <table>
<tr>
  <td>
  <b>Select Services :</b>
</td>
  <td>
  <mat-radio-group name="ServicesGroup" layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" [(ngModel)]="ServiceOption" >
      <mat-radio-button class="example-radio-button" value="false">Loyalty Services</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="true">All Services</mat-radio-button>
    </mat-radio-group>
  </td>
  <td  *ngIf="ServiceOption == 'true'" layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">

      <span><b>Server IP: </b></span><input type="text" [(ngModel)]="MachineName" id="txt_ServiceName" style="padding-left: 3%">
  </td>
  <td>
    <button mat-stroked-button (click) ='getServices()'>Get Services</button>
  </td>
  </table>
</div>
<div *tdLoading="'stringName'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" >
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span class="mat-title">Service List</span>
    </span>
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title"></span>
      <span *ngIf="selectedRows.length && selectable" class="mat-body-1">0 item(s) selected</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
    </td-search-box>
  </div>
  <mat-divider></mat-divider>
  <td-data-table
    #dataTable
    [data]="data"
    [columns]="columns"
    [selectable]="true"
    [clickable]="false"
    [multiple]="false"
    [sortable]="true"
    [sortBy]="sortBy"
    [(ngModel)]="selectedRows"
    [sortOrder]="sortOrder"
    (sortChange)="sort($event)"
    (rowClick)="showAlert($event)"
    [style.height.px]="750">
    <ng-template tdDataTableTemplate="IsWebService" *ngIf="(dataTable.hasData)" let-value="value">
      <img [src]="value ? 'assets/images/browser.png' : 'assets/images/monitor.png'">
    </ng-template>
    <ng-template tdDataTableTemplate="StatusToBeUpdated">
      <button (click)="Update(4)">
          Start Service
      </button>
    </ng-template>
    <ng-template tdDataTableTemplate="StatusToBeUpdated1">
        <button (click)="Update(1)">
            Stop Service
        </button>
      </ng-template>
  </td-data-table>
  <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)" [style.width.px]="500" >
    <span hide-xs>Rows per page:</span>
    <mat-select [style.width.px]="10" [(ngModel)]="pageSize">
      <mat-option *ngFor="let size of [10,20,30,50,100]" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
</div>